.formContainer{

    /* border: 2px solid red; */
    /* margin: 5% 20%; */
    /* margin: 4rem 25rem; */
    margin-right: 55%;
    margin-left: 5%;
    padding-bottom: 2%;
    height: auto;
    background-color: rgb(128, 0, 0);
    color: aliceblue;
    border-radius: 5px;
    padding-top: 2%;
}

.form{
    display: grid;
    /* margin: 5rem 25rem; */
}

.form input{
    border: 2px solid black;
    width: 70%;
    margin: 0 15%;
    /* margin: 0 4rem; */
    border-radius: 5px;
}
.form textarea{
    border: 2px solid black;
    width: 70%;
    margin: 0 15%;
    /* margin: 0 4rem; */
    border-radius: 5px;
}
.form select{
    border: 2px solid black;
    width: 70%;
    margin: 0 15%;
    /* margin: 0 4rem; */
    border-radius: 5px;
}
/* .buttonDiv{
    display: flex;
} */
.buttonDiv{
    /* border: 2px solid red; */
    display: flex;
    width: 30%;
    margin-top: 2%;
    margin-left: 39%;
}

.buttonDiv button{
    background-color: antiquewhite;
    margin-left: 5%;
}

img{
    width: 20px;
    height: 20px;
    background-color: antiquewhite;
    margin-right: 2%;
    margin-bottom: 1%;
}