/* h1{
    margin-top: 20rem;
    border: 2px solid red;
} */

.homeContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1%;
}